.container
  .row
    .span12
      .footer-nav{:align => "center"}
        .footer-menu
          %ul
            %li
              %a{:href => "#"} Home
            - if can? :create, :composition
              %li
                = link_to 'Add a Composition', new_admin_composition_path
            - if can? :create, :performance
              %li
                = link_to 'Add a Performance', new_admin_performance_path
            %li
              %a{:href => "#"} About
            %li
              %a{:href => "#"} FAQ
            %li
              %a{:href => "#"} Contact
        .copyright
          ="Copyright © #{Time.now.year}"