<div class="container">
	<div class="row">
		<div class="span12">
			<div class="footer-nav" align="center">
				<div class="footer-menu">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Add a Composition</a></li>
						<li><a href="#">Add a Performance</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Charts</a></li>
						<li><a href="#">Privacy</a></li>
						<li class="clearfix"><a href="#">Feedback</a></li>
					</ul>
				</div>	
				<div class="copyright">
					Copyright &copy; 2012
				</div>
			</div>
		</div>
	</div>
</div>
