.container
  .row
    .span12
      .footer-nav{:align => "center"}
        .footer-menu
          %ul
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Add a Composition
            %li
              %a{:href => "#"} Add a Performance
            %li
              %a{:href => "#"} FAQ
            %li
              %a{:href => "#"} Charts
            %li
              %a{:href => "#"} Privacy
            %li.clearfix
              %a{:href => "#"} Feedback
        .copyright
          Copyright © 2012