<section id="footer-menu">
	<div class="container">
		<div class="row">
			<div class="span8 hidden-phone">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Add a Composition</a></li>
					<li><a href="#">Add a Performance</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Charts</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Feedback</a></li>
				</ul>
			</div>
		<p class="span4"><span class="pull-right">Copyright 2012 - All Rights Reserved</span></p>
		</div>
	</div>
</section>

