<section id="top-menu">
	<div class="container">
		<div class="row">
		<div class="span6 hidden-phone">
			<ul class="top-menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Sitemap</a></li>
				<li><a href="#">Shorcodes</a></li>
				<li><a href="#" class="last">Contact</a></li>
			</ul>
		</div>
		<div class="span6">
			<ul class="top-social">
				<li><a href="#">Login</a></li>
				<li><a href="#">Request Account</a></li>
			</ul>
		</div>
	</div>
</section>

<header id="header">
	<div class="container">
		<div class="row-fluid">
			<div class="logo">
				<a href="#"><img src="assets/logo.png" alt="logo"/></a>
			</div>
		</div>

		<nav id="menu">
			<ul>
				<li><a href="" class="current">Home</a></li>
				<li><a href="" >Composer</a></li>
				<li><a href="" >Title</a></li>
				<li><a href="" >Performance</a></li>
				<li><a href="" >Pianist</a></li>
				<li><a href="" >Contact</a></li>
			</ul>
		</nav> 
	</div>
</header>

