%h1
  =@performance.composition_link
%h2
  Performed by
  =@performance.performer_link

%ul
  -@performance.performance_roles.each do |r|
    %li
      ="#{r.person.canonical_name}: #{r.role_name}"

.well
  !=@performance.url.embeded_code

- if can? :edit, :performance
  = link_to 'Edit', edit_admin_performance_path(@admin_performance)

- if can? :create, :performance
  %p
  = link_to 'Create New Performance', new_admin_performance_path, :class => 'btn btn-small'
