<section>
	<div class="title-divider">
		<div class="divider-arrow"></div>                               
		<h2>Archive</h2>             
	</div>
	<ul class="ul-col2 clearfix">
		<li><a href="#">February 2012</a></li>
		<li><a href="#">March 2012</a></li>
		<li><a href="#">April 2012</a></li>
		<li><a href="#">May 2012</a></li>
		<li><a href="#">June 2012</a></li>
		<li><a href="#">August 2012</a></li>
	</ul>
</section>

