development:
  adapter: mysql2
  database: pianodb_dev
  username: pianodb
  password: xxx
  pool: 5
  timeout: 5000

test:
  adapter: mysql2
  database: pianodb_test
  username: pianodb
  password: xxx
  pool: 5
  timeout: 5000

production:
  adapter: mysql2
  database: pianodb_dev
  username: pianodb
  password: xxx
  pool: 5
  timeout: 5000
