development:
  adapter: mysql2
  database: ccmtv_dev
  username: ccmtv
  password: xxx
  pool: 5
  timeout: 5000

test:
  adapter: mysql2
  database: ccmtv_test
  username: ccmtv
  password: xxx
  pool: 5
  timeout: 5000

production:
  adapter: mysql2
  database: ccmtv
  username: ccmtv
  password: xxx
  pool: 5
  timeout: 5000
