.row
  .span12
    %p
      %span.label Hello
      %span.label.label-success Hello
      %span.label.label-warning Hello
      %span.label.label-important Hello
      %span.label.label-info Hello
      %span.label.label-inverse Hello

