%h1 PianoDB Home Page

-#= render :partial => 'site/top10', :object => @performances
%h2 Top 10 Performances
.well
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Title
        %th Performer
    %tbody
      - @performances.each do |p|
        %tr
          %td=p.composition.title
          %td=p.person.canonical_name

%h2 Top 10 Composers
.well
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Name
    %tbody
      - @composers.each do |c|
        %tr
          %td=c.canonical_name

%h2 Top 10 Performers
.well
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Name
    %tbody
      - @pianists.each do |p|
        %tr
          %td=p.canonical_name

%h2 Top 10 Compositions
.well
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Composition
    %tbody
      - @compositions.each do |c|
        %tr
          %td=c.title
