-#= render :partial => 'site/top10', :object => @performances
%h2 Top Ten Performances
%table.table.table-striped.table-condensed.table-bordered.table-top10
  %thead
    %tr
      %th.rank Rank
      %th Performance
      %th.rating Rating
      %th.views Views
  %tbody
    - @performances.each do |p|
      %tr
        %td=p.rank
        %td=link_to p.full_title, performance_path(p)
        %td=p.rating
        %td=p.views

%h2 Top Ten Pianists

%table.table.table-striped.table-condensed.table-bordered.table-top10
  %thead
    %tr
      %th.rank Rank
      %th Pianist
      %th.views Views
  %tbody
    - @pianists.each do |p|
      %tr
        %td=p.rank
        %td=p.canonical_name
        %td=p.views

%h2 Top Ten Compositions

%table.table.table-striped.table-condensed.table-bordered.table-top10
  %thead
    %tr
      %th.rank Rank
      %th Composition
      %th.rating Rating
      %th.views Views
  %tbody
    - @compositions.each do |c|
      %tr
        %td=c.rank
        %td=c.full_title
        %td=c.rating
        %td=c.views

%h2 Top Ten Composers
%table.table.table-striped.table-condensed.table-bordered.table-top10
  %thead
    %tr
      %th.rank Rank
      %th Composer
      %th.views Views
  %tbody
    - @composers.each do |c|
      %tr
        %td=c.rank
        %td=c.canonical_name
        %td=c.views
