= form_tag(admin_people_path, :method => :get, :class => 'form-inline form-search span2') do
  = text_field_tag :person_name, '', {:class => 'input-small' }
  %button.btn{:class => 'btn-small'} Search
