%p#notice= notice

-#todo make composer and performer links

%h1
  #{@performance.composition.title}, by #{@performance.composer.canonical_name}
%h2
  Performed by
  =@performance.performer.canonical_name
.well
  !=@performance.url.embeded_code

-#todo wrap in permissions using cancan
= link_to 'Edit', edit_performance_path(@performance)
\|
%a{:href => "#", :onClick => "javascript:history.back();"} Back